<template>
	<ol>
		<li v-for="m in markings" :style="{'top': m.height}" :class="{'big': m.big}">{{m.name}}</li>
	</ol>
</template>


<script>
	export default {
		name: 'Markings',
		props: [ 'actual_day_start', 'actual_day_end' ],
		computed: {
			markings: function() {
				var STEPS = 15*60*1000;
				var startTime = this.actual_day_start.getTime();
				var markings = [];
				
				for(
					var time = Math.ceil(startTime / STEPS) * STEPS;
					time <= this.actual_day_end.getTime();
					time += STEPS
				) {
					var d = new Date(time);
					
					if(d.getMinutes() % 60 == 0) { // Useless but flexible
						var name = d.getHours()+':'+String(d.getMinutes()).padStart(2, '0');
					}
					else {
						var name = '';
					}
					markings.push({
						'name': name,
						'height': (time - startTime) / 30000 + 'px',
						'big': d.getMinutes() == 0,
					});
				}
				return markings;
			},
		},
	}
</script>


<style scoped lang="stylus">
	li
		border-top: 1px solid #dee2e6
		text-align: right
		font-weight: bold
		padding-right: .75rem
		position: absolute
		width: 100%
	
	li.big
		border-top-width: 2px
</style>
