<template>
	<li :class="{ selected: selected }" @click="$emit('toggle-select', talk.id)" class="talk" :style="style">
		<div>{{talk.title}}</div>
	</li>
</template>


<script>
	export default {
		name: 'Talk',
		props: [ 'talk', 'actual_day_start', 'selected' ],
		computed: {
			style: function() {
				return {
					height: (this.talk.duration/30000)+'px',
					top: ((this.talk.start.getTime()-this.actual_day_start.getTime())/30000)+'px',
				};
			},
		},
	}
</script>


<style scoped lang="stylus">
	div
		/* Like alerts (except for margin/padding) */
		border-radius: 5px
		background: #cce5ff
		border: solid 1px #b8daff
		color: #004085
		padding: 5px
		height: 100%
	
	.selected div
		background: #fff3cd
		border-color: #ffeeba
		color: #856404
</style>
