<template>
	<div id="app">
		<p>
			<button @click="print('open_pdf')" class="btn btn-primary" :disabled="loading || selected.size == 0" type="submit"><i class="fas fa-external-link-alt"></i>
Open PDF</button>
			<button @click="print('download_pdf')" class="btn btn-primary" :disabled="loading || selected.size == 0" type="submit"><i class="fas fa-download"></i>
Download PDF</button>
<!-- 					<button @click="print('print_pdf')" class="btn btn-primary" :disabled="loading || selected.size == 0" type="submit"><i class="fas fa-print"></i> Print PDF</button> -->
			<button @click="print('logs')" class="btn btn-primary" :disabled="loading || selected.size == 0" type="submit"><i class="fas fa-file-archive"></i> Download Logs</button>
			<i v-if="loading" class="fas fa-spinner spin"></i>
		</p>
		
		<div v-for="day in message.schedule.conference.days">
			<h2>Day {{ day.index }} ({{ day.date }})</h2>
			<div class="d-block d-sm-flex timetable mb-5 mt-3">
				<div class="time flex-shrink-0 d-none d-sm-block">
					<div class="bg-dark text-light head">Day {{ day.index }}</div>
					<Markings :actual_day_start="day.actual_day_start" :actual_day_end="day.actual_day_end" />
				</div>
				
				<div class="room" v-for="(talks, roomName) in day.rooms">
					<div class="bg-dark text-light head">{{ roomName }} <span class="d-sm-none">- Day {{ day.index }}</span></div>
					<div>
						<ol :style="{height: (day.actual_day_end.getTime()-day.actual_day_start.getTime())/30000+'px'}">
							<Talk v-for="talk in talks" :key="talk.id" :talk="talk" :actual_day_start="day.actual_day_start" :selected="selected.has(talk.id)" @toggle-select="toggleSelect" />
						</ol>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import Talk from './components/Talk.vue'
	import Markings from './components/Markings.vue'

	export default {
		name: 'app',
		components: {
			Markings, Talk
		},
		data: function() {return {
			message: {schedule: {conference: {days: []}}},
			selected: new Set(),
			loading: false,
		};},
		created() {
			this.refreshMessage();
		},
		methods: {
			refreshMessage() {
				var xhr = new XMLHttpRequest();
				
				xhr.onreadystatechange = function () {
					if(xhr.readyState != 4) {
						return;
					}
					
					if(xhr.status != 200) {
						alert('Failed to load');
						return;
					}
					
					var data = JSON.parse(xhr.responseText);
					
					var days = data.schedule.conference.days;
					for(var dayNr in days) {
						var day = days[dayNr];
						day.day_start = new Date(Date.parse(day.day_start));
						day.day_end   = new Date(Date.parse(day.day_end));
						var minStartMs = Number.MAX_SAFE_INTEGER;
						var maxEndMs = Number.MIN_SAFE_INTEGER;
						
						var rooms = day.rooms;
						for(var roomName in rooms) {
							var talks = rooms[roomName];
							for(var talkNr in talks) {
								var talk = talks[talkNr];
								
								var durationParts = talk.duration.split(':').map(x => Number.parseInt(x));
								talk.duration = (durationParts[0]*60 + durationParts[1]) * 60000;
								var startMs = Date.parse(talk.date);
								var endMs = startMs + talk.duration;
								talk.start = new Date(startMs);
								talk.end = new Date(endMs);
								if(startMs < minStartMs) { minStartMs = startMs; }
								if(endMs > maxEndMs) { maxEndMs = endMs; }
							}
						}
						
						day.actual_day_start = new Date(minStartMs);
						day.actual_day_end = new Date(maxEndMs);
					}
					this.message = data;
				}.bind(this);
				
				xhr.open("GET", "./api/v1/schedule", true);
				xhr.send();
			},
			
			toggleSelect(id) {
				if(this.selected.has(id)) {
					this.selected.delete(id);
				}
				else {
					this.selected.add(id);
				}
				this.selected = new Set(this.selected)
			},
			
			print(type) {
				var xhr = new XMLHttpRequest();
				var win = window.open();
				
				xhr.responseType = 'arraybuffer';
				this.loading = true;
				// From https://stackoverflow.com/a/23797348
				xhr.onreadystatechange = function () {
					if(xhr.readyState != 4) {
						return;
					}
					this.loading = false;
					
					if(xhr.status != 200) {
						win.close();
						alert('Failed to load');
						return;
					}
					
					var filename = "";
					var disposition = xhr.getResponseHeader('Content-Disposition');
					if(disposition && disposition.indexOf('attachment') !== -1) {
						var filenameRegex = /filename[^;=\n]*=((['"]).*?\2|[^;\n]*)/;
						var matches = filenameRegex.exec(disposition);
						if(matches != null && matches[1]) {
							filename = matches[1].replace(/['"]/g, '');
						}
					}
					
					// Get content(type)
					var type = xhr.getResponseHeader('Content-Type');
					var blob = typeof File === 'function'
						? new File([xhr.response], filename, { type: type })
						: new Blob([xhr.response], { type: type });
					
					// Open file
					var URL = window.URL || window.webkitURL;
					var downloadUrl = URL.createObjectURL(blob);
					if(filename) {
						// use HTML5 a[download] attribute to specify filename
						var a = document.createElement("a");
						// safari doesn't support this yet
						if(typeof a.download === 'undefined') {
							win.location = downloadUrl;
						}
						else {
							a.href = downloadUrl;
							a.download = filename;
							document.body.appendChild(a);
							a.click();
							win.close();
						}
					}
					else {
						win.location = downloadUrl;
					}
					
					// Cleanup
					setTimeout(function() { URL.revokeObjectURL(downloadUrl); }, 100);
				}.bind(this);
				xhr.open("POST", "./api/v1/pdf", true);
				xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
				xhr.send(JSON.stringify({'ids': Array.from(this.selected), 'type': type}));
			},
		},
	}
</script>

<style lang="stylus">
	.timetable
		background: #f7f7f9 /* like code block */
	
	.head
		/* Make stick */
		position: -webkit-sticky
		position: sticky
		top: 0px
		z-index: 10
		
		/* Like a table head */
		font-weight: bold
		padding: .75rem
		
		white-space: nowrap
		overflow: hidden
	
	.talk
		position: absolute
		width: 100%
		padding: 0px 5px
		overflow: hidden
		
		// make them just clickable
		cursor: pointer
		user-select: none
	
	
	.room
		flex: 1
	
	.room ol
		// padding: 0px 5px
		border-left: 1px solid #dee2e6
	
	ol
		margin: 0
		padding: 0
		position: relative
	
	li
		list-style: none
	
	@keyframes fa-spin {
		0% {
			transform: rotate(0deg)
		}
		100% {
			transform: rotate(1turn)
		}
	}
	
	.spin
		animation: fa-spin 2s infinite linear
</style>
