<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport" />
		
		<title>Stagemanager</title>
		
		<link rel="icon" href="<%= BASE_URL %>favicon.ico">
<!-- 		<link href="/static/css/fa.css" rel="stylesheet" /> -->
	</head>
	
	<body>
		<header>
			<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
				<div class="container justify-content-between">
					<a href="/" class=navbar-brand>Stagemanager</a>
				</div>
			</nav>
		</header>
		
		<main class="container pt-5 pb-5" role="main">
			<h1>Schedule</h1>
			<noscript>
				<strong>We're sorry but blaa doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
			</noscript>
			<div id="app"></div>
		</main>
		
	    <!-- built files will be auto injected -->
	</body>
</html>
